html,
body {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
}

.btn {
    transition: all 1.3s ease-in-out;
}

@media(max-width:768px) {
    #header {
        text-align: center;
    }
    #header img {
        margin: 0 auto;
    }
    #social {
        text-align: center;
    }
    #social hr, #who hr {
        margin: 8% auto;
    }
    #who {
        margin: 8% auto;
        text-align: center;
    }
}

.navbar {
    background-color: rgba(21, 31, 33, 0.5);
    border-bottom: 1px solid #dedede;
    font-family: 'Alegreya Sans', sans-serif;
    /*font-family: 'Ranga', cursive;*/
}

.navbar .nav .nav-item .nav-link {
    color: #d1d1d1;
}

.navbar .nav .nav-item .nav-link:hover {
    color: #933;
}

.navbar-toggler {
    color: #fff;
}


/*HEADER*/

#header {
    align-items: center;
    background: url('../img/stars-bg.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 100%;
}

#header img {
    padding-top: 20px;
    width: 80%;
}

#header .header-right {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
}

#header .fa {
    margin: 5% 0;
}

#header a .fa {
    color: #fff;
}

#header a .fa:hover {
    color: #933;
}

/*SOCIAL*/

#social {
    padding: 4.25rem 0;
}

#social .fa {
    font-size: 1.5em;
    border: 2px solid #be2835;
    border-radius: 15px;
    color: #be2835;
    height: 60px;
    margin-top: 10px;
    padding: 30% 0;
    text-align: center;
    transition: all 0.4s ease-in-out;
    width: 60px;
}

#social .fa:hover {
    background-color: #be2835;
    color: #fff;
}

/*WHO*/

#who {
    background: #f6f6f6;
    padding: 5rem 0;
}

#who .btn-who {
    background: #be2835;
    color: #fff;
    width: 50%;
}

#who .btn-who:hover {
    background-color: transparent;
    border: 1px solid #be2835;
    color: #be2835;
}