html,
body {
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
}

.btn {
    transition: all 0.8s ease-in-out;
}

@media(max-width:768px) {
    #header {
        text-align: center;
    }
    #header img {
        margin: 0 auto;
    }
    #social {
        text-align: center;
    }
    #social hr, #who hr {
        margin: 8% auto;
    }
    #who {
        margin: 8% auto;
        text-align: center;
    }
}

.navbar {
    background-color: rgba(21, 31, 33, 0.5);
    border-bottom: 1px solid #dedede;
    font-family: 'Alegreya Sans', sans-serif;
    /*font-family: 'Ranga', cursive;*/
}

.navbar .nav .nav-item .nav-link {
    color: #d1d1d1;
}

.navbar .nav .nav-item .nav-link:hover {
    color: #933;
}

.navbar-toggler {
    color: #fff;
}


/*HEADER*/

#header {
    align-items: center;
    background: url('../img/stars-bg.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 100%;
}

#header img {
    padding-top: 20px;
    width: 80%;
}

#header .header-right {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
}

#header .fa {
    margin: 5% 0;
}

#header a .fa {
    color: #fff;
}

#header a .fa:hover {
    color: #933;
}

/*SOCIAL*/

#social {
    padding: 4.25rem 0;
}

#social .fa {
    font-size: 1.5em;
    border: 2px solid #be2835;
    border-radius: 15px;
    color: #be2835;
    height: 60px;
    margin-top: 10px;
    padding: 30% 0;
    text-align: center;
    transition: all 0.4s ease-in-out;
    width: 60px;
}

#social .fa:hover {
    background-color: #be2835;
    color: #fff;
}

/*WHO*/

#who {
    background: #f6f6f6;
    padding: 5rem 0;
}

#who .btn-who {
    background: #be2835;
    color: #fff;
    width: 50%;
}

#who .btn-who:hover {
    background-color: transparent;
    border: 1px solid #be2835;
    color: #be2835;
}

/*WORK*/

#work {
    padding: 5rem 0;
}

#work .work-img {
    position: relative;
}

#work .work-img .img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/eye.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.9s ease-in-out;
    width: 100%;
    z-index: 0;
}

#work .work-img .img-overlay:hover {
    opacity: 1;
    z-index: 1;
}

/*WHY*/

#why {
    background-color: #f6f6f6;
    padding: 5rem 0;
}

#why .fa {
    color: #be2835;
    padding: 15px 0;
}

/*CUSTOMERS*/

#customers {
    padding: 5rem 0;
}

#customers .carousel-indicators li {
    background-color: #be2835;
}

#customers .carousel-inner {
    margin-bottom: 50px;
}

#customers .carousel-indicators {
    margin-bottom: -50px;
}

/*PRICING*/

#pricing {
    background-color: #f6f6f6;
    padding: 5rem 0;
}

#pricing .card .card-header {
    background-color: #6e6e6e;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

#pricing .card .card-header:hover {
    background-color: #be2835;
}

#pricing .card .standard {
    background-color: #be2835;
    font-size: 1.3em;
    padding: 15px 0;
}